html {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Bitter", serif;
  font-weight: 400;
}

body {
  background-color: rgb(227 250 250);
  border: 20px solid rgb(255, 255, 255);
  margin: 0;
}

#introPresentation {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  padding: 100px;
}

#introIllustration {
  height: auto;
  max-width: 100%;
}

#name {
  font-size: 70px;
  margin: 0;
}

#textIntroPresentation {
  max-width: 50%;
}

.imgContainer {
  max-width: 50%;
}

.initialIcon {
  width: 40px;
  margin: 10px;
}

.presentation {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.textPresentation {
  max-width: 50%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  line-height: 1.5;
}

.guitarContainer {
  max-width: 50%;
}

.svgGuitar {
  max-width: 100%;
  height: auto;
}

.technologiesContainer {
  max-width: 50%;
  text-align: center;
}

.technologies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
}

.technologies img {
  width: 200px;
}
